@import 'libs/bootstrap-reboot.min';
@import 'libs/owl.carousel.min.scss';
@import 'libs/owl.theme.default.min.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/advantages';
@import 'blocks/work';
@import 'blocks/china';
@import 'blocks/price';
@import 'blocks/consultation';
@import 'blocks/menagers';
@import 'blocks/sheme';
@import 'blocks/reviews';
@import 'blocks/question';
@import 'blocks/footer';

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4 {
    font-weight: inherit;
    font-size: inherit;
}

.container {
    width: 1170px;
    margin: 0 auto;
    padding: 0px 15px 0px 15px;
}

.divider {
    width: 150px;
    height: 1px;
    background-color: #ec644b;
    margin: 16px auto 0px auto;
}